<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wul.oa_article">

    <!-- 微信权限-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--分享权限-->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- 蓝牙分享所需的权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.VIBRATE" /> <!-- 震动权限 -->
    <uses-feature android:name="android.hardware.camera.autofocus" /> <!-- 自动聚焦权限 -->


    <application
        android:name=".base.MyApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">


        <activity
            android:name=".view.login.LoginActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!--注册页面-->
        <activity
            android:name=".view.register.RegisterActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!--忘记密码-->
        <activity
            android:name=".view.forword_password.Forword_passwordActivity"
            android:screenOrientation="portrait" />

        <!--验证码登录-->
        <activity
            android:name=".view.verificationlogin.VerificationLoginActivity"
            android:screenOrientation="portrait" />

        <!--主页-->
        <activity
            android:name=".view.main.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!--搜索页面-->
        <activity
            android:name=".view.SelectActivity"
            android:screenOrientation="portrait" />

        <!--用户协议-->
        <activity
            android:name=".view.register.PersonXieyIAct"
            android:screenOrientation="portrait" />

        <!--创建订单-->
        <activity
            android:name=".view.CreateActivity"
            android:screenOrientation="portrait" />

        <!--创建任务-->
        <activity
            android:name=".view.CreateTaskActivity"
            android:screenOrientation="portrait" />

        <!--订单详情-->
        <activity
            android:name=".view.OrderDetailsActivity"
            android:screenOrientation="portrait" />

        <!--接受任务-->
        <activity
            android:name=".view.AcceptedTaskActivity"
            android:screenOrientation="portrait" />

        <!--自己完成-->
        <activity
            android:name=".view.MyOrderActivity"
            android:screenOrientation="portrait" />

        <!--分派任务-->
        <activity
            android:name=".view.FenPaiActivity"
            android:screenOrientation="portrait" />

        <!--扫码上传-->
        <activity
            android:name=".view.PcUpdateAct"
            android:screenOrientation="portrait" />

        <!--人员列表-->
        <activity
            android:name=".view.SelectPersonAct"
            android:screenOrientation="portrait" />

        <!--模板管理-->
        <activity
            android:name=".view.mobanmanager.MobanManagerActivity"
            android:screenOrientation="portrait" />

        <!--新增模板-->
        <activity
            android:name=".view.createmoban.CreateMoBanActivity"
            android:screenOrientation="portrait" />

        <!--扫一扫-->
        <activity android:name=".zxing.activity.CaptureActivity" />

        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.wul.oa_article.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>