<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.article.oa_article">

    <!-- 微信权限-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--分享权限-->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- 蓝牙分享所需的权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.VIBRATE" /> <!-- 震动权限 -->
    <uses-feature android:name="android.hardware.camera.autofocus" /> <!-- 自动聚焦权限 -->

    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <permission
        android:name="${applicationId}.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <!-- Required  一些系统要求的权限，如访问网络等-->
    <uses-permission android:name="${applicationId}.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />


    <uses-permission android:name="android.permission.REORDER_TASKS" />

    <application
        android:name="com.article.oa_article.base.MyApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">


        <activity
            android:name="com.article.oa_article.view.splash.SplashActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.article.oa_article.view.splash.GuideActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.article.oa_article.view.login.LoginActivity"
            android:screenOrientation="portrait" />

        <!--注册页面-->
        <activity
            android:name="com.article.oa_article.view.register.RegisterActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!--忘记密码-->
        <activity
            android:name="com.article.oa_article.view.forword_password.Forword_passwordActivity"
            android:screenOrientation="portrait" />

        <!--验证码登录-->
        <activity
            android:name="com.article.oa_article.view.verificationlogin.VerificationLoginActivity"
            android:screenOrientation="portrait" />

        <!--主页-->
        <activity
            android:name="com.article.oa_article.view.main.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <!--搜索页面-->
        <activity
            android:name="com.article.oa_article.view.SelectActivity"
            android:screenOrientation="portrait" />

        <!--用户协议-->
        <activity
            android:name="com.article.oa_article.view.register.PersonXieyIAct"
            android:screenOrientation="portrait" />

        <!--创建订单-->
        <activity
            android:name="com.article.oa_article.view.CreateActivity"
            android:screenOrientation="portrait" />

        <!--订单详情-->
        <activity
            android:name="com.article.oa_article.view.order_details.Order_detailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <!--接受任务-->
        <activity
            android:name="com.article.oa_article.view.AcceptedTaskActivity"
            android:screenOrientation="portrait" />

        <!--自己完成-->
        <activity
            android:name="com.article.oa_article.view.MyOrderActivity"
            android:screenOrientation="portrait" />

        <!--扫码上传-->
        <activity
            android:name="com.article.oa_article.view.PcUpdateAct"
            android:screenOrientation="portrait" />

        <!--人员列表-->
        <activity
            android:name="com.article.oa_article.view.SelectPersonAct"
            android:screenOrientation="portrait" />

        <!--模板管理-->
        <activity
            android:name="com.article.oa_article.view.mobanmanager.MobanManagerActivity"
            android:screenOrientation="portrait" />

        <!--新增模板-->
        <activity
            android:name="com.article.oa_article.view.createmoban.CreateMoBanActivity"
            android:screenOrientation="portrait" />

        <!--资料设置-->
        <activity
            android:name="com.article.oa_article.view.setting.SettingActivity"
            android:screenOrientation="portrait" />

        <!--修改昵称-->
        <activity
            android:name="com.article.oa_article.view.setting.PersonNameSettingAct"
            android:screenOrientation="portrait" />

        <!--修改密码-->
        <activity
            android:name="com.article.oa_article.view.setting.PasswordSettingAct"
            android:screenOrientation="portrait" />

        <!--修改手机号码-->
        <activity
            android:name="com.article.oa_article.view.setting.PhoneSettingAct"
            android:screenOrientation="portrait" />

        <!--名片-->
        <activity
            android:name=".view.person_details.Person_detailsActivity"
            android:screenOrientation="portrait" />

        <!--手动添加联系人-->
        <activity
            android:name=".view.moveaddperson.MoveAddPersonActivity"
            android:screenOrientation="portrait" />

        <!--部门选择-->
        <activity
            android:name=".view.bumen.BumenActivity"
            android:screenOrientation="portrait" />

        <!--标签选择-->
        <activity
            android:name=".view.lablecustom.LableCustomActivity"
            android:screenOrientation="portrait" />

        <!--收到的评价-->
        <activity
            android:name=".view.myscope.MyScopeActivity"
            android:screenOrientation="portrait" />

        <!--已评价-->
        <activity
            android:name=".view.alreadyscope.AlreadyScopeActivity"
            android:screenOrientation="portrait" />

        <!--部门管理-->
        <activity
            android:name=".view.bumenmanager.BumenManagerActivity"
            android:screenOrientation="portrait" />

        <!--员工管理-->
        <activity
            android:name=".view.personmanager.PersonManagerActivity"
            android:screenOrientation="portrait" />

        <!--意见反馈-->
        <activity
            android:name=".view.optionsfankui.OptionsFankuiActivity"
            android:screenOrientation="portrait" />

        <!--反馈类型-->
        <activity
            android:name=".view.optionsfankui.OptionsTypeActivity"
            android:screenOrientation="portrait" />

        <!--批量从通讯录添加-->
        <activity
            android:name=".view.addusers.AddUsersActivity"
            android:screenOrientation="portrait" />

        <!--批量编辑联系人-->
        <activity
            android:name=".view.addusers.alluseredit.AllUserEditActivity"
            android:screenOrientation="portrait" />

        <!--同意好友申请-->
        <activity
            android:name=".view.main.message.FriendApplyActivity"
            android:screenOrientation="portrait" />

        <!--新增企业-->
        <activity
            android:name=".view.newlycomplan.NewlyComplanActivity"
            android:screenOrientation="portrait" />

        <!--加入企业-->
        <activity
            android:name=".view.addcomplan.AddComplanActivity"
            android:screenOrientation="portrait" />

        <!--加入企业成功-->
        <activity
            android:name=".view.addcomplan.SuressActivity"
            android:screenOrientation="portrait" />

        <!--查看大图-->
        <activity
            android:name=".view.BigPicutreActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />


        <!--扫一扫-->
        <activity android:name="com.article.oa_article.zxing.activity.CaptureActivity" />

        <!--引导页1-->
        <activity
            android:name=".view.splash.guide.GuiDeAct1"
            android:screenOrientation="portrait" />

        <!--引导页2-->
        <activity
            android:name=".view.splash.guide.GuiDeAct2"
            android:screenOrientation="portrait" />

        <!--引导页3-->
        <activity
            android:name=".view.splash.guide.GuiDeAct3"
            android:screenOrientation="portrait" />

        <!--引导页4-->
        <activity
            android:name=".view.splash.guide.GuiDe4Act"
            android:screenOrientation="portrait" />

        <!--引导页5-->
        <activity
            android:name=".view.splash.guide.GuideAct5"
            android:screenOrientation="portrait" />

        <!--引导页6-->
        <activity
            android:name=".view.splash.guide.GuideAct6"
            android:screenOrientation="portrait" />

        <!--引导页7-->
        <activity
            android:name=".view.splash.guide.GuideAct7"
            android:screenOrientation="portrait" />

        <!--引导页8-->
        <activity
            android:name=".view.splash.guide.GuideAct8"
            android:screenOrientation="portrait" />

        <!--引导页9-->
        <activity
            android:name=".view.splash.guide.GuideAct9"
            android:screenOrientation="portrait" />

        <!--引导页10-->
        <activity
            android:name=".view.splash.guide.GuideAct10"
            android:screenOrientation="portrait" />

        <!--引导页11-->
        <activity
            android:name=".view.splash.guide.GuideAct11"
            android:screenOrientation="portrait" />

        <!--引导页12-->
        <activity
            android:name=".view.splash.guide.GuideAct12"
            android:screenOrientation="portrait" />

        <!--引导页13-->
        <activity
            android:name=".view.splash.guide.GuideAct13"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.article.oa_article.wxapi.WXEntryActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.article.oa_article.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- 这个是自定义Service，要继承极光JCommonService，可以在更多手机平台上使得推送通道保持的更稳定 -->
        <service
            android:name=".service.PushService"
            android:enabled="true"
            android:exported="false"
            android:process=":pushcore">
            <intent-filter>
                <action android:name="cn.jiguang.user.service.action" />
            </intent-filter>
        </service>

        <!-- 3.3.0开始所有事件将通过该类回调 -->
        <!-- 该广播需要继承 JPush 提供的 JPushMessageReceiver 类, 并如下新增一个 Intent-Filter -->
        <receiver
            android:name=".service.PushMessageReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />
                <category android:name="com.article.oa_article" />
            </intent-filter>
        </receiver>

    </application>

</manifest>